<%- include("./partials/header") %> 
<%- include("./partials/nav-about.ejs") %>

<div class="about-container">
    <h2>Group #9</h2>
    <div class="groupNames">
        <ul>
            <li><span>Halyna Lekhnovska</span></li>
            <li><span>Shadi Ali</span></li>
            <li><span>Eugene Malyi</span></li>
            <li><span>Lasha Kalandadze</span></li>
            <li><span>Mehdi Pashapour</span></li>
            <li><span>Milad Qomashhaji</span></li>
            <li><span>Mohammed Aleryani</span></li>
            <li><span>Muhannad Ghabbash</span></li>
            <li><span>Navjot Kaur</span></li>
        </ul>
    </div>
    <div class="aboutBody">
        <h3>Matrix Master Bootcamp Group #9 2022</h3>
        <div class="fase1">
            <p class="para1">
            Hello World! OOPS, we mean, Hello, Matrix Master Community! We are Group #9. We have started our bootcamp in the 13 of June 2022. It was not Friday, but we have started on Friday. Ahah. 
            Sorry guys, we actually don't remember all your names, but it was cool meeting!
            </p>
            <div class="img1-cont">
                <img src="/img/image2.jpeg" alt="Matrix-student">
            </div>
        </div>
        <div class="fase2">
            <div class="img2-cont">
                <img src="/img/image0.jpeg" alt="Matrix-student">
            </div>
            <p class="para2">
                Very motivated! But, unfortunately, not for everybody. We have started from 22 students. We worked very hard, very (just believe us). Especially first two weeks, before our First Challenge. And then one month till Second Challenge, and also two weeks till Third Challenge.
            </p>
        </div>
        <div class="fase3">
            <p class="para3">
                On our way we have lost more then half of our team… And now there are 9 of us! We are working in our web application  - creating Matrix Master Community, where you can find a solution for your problems (and maybe answers to Challenges, who knows), or register and add your own question!
            </p>
            <div class="img3-cont">
                <img src="/img/old-photo.png" alt="Matrix-student">
            </div>
        </div>
        <div class="fase4">
            <p class="para4">
                Also you can see what we have learned. You’ll be surprised, we guarantee!  Just take a look from which point we have started
            </p>
            <div class="img4-cont">
                <img src="/img/newsit1.png" alt="New-Website">
                <img src="/img/newsit2.png" alt="New-Website">
            </div>
        </div>
        <hr>
        <div class="fase5">
            <p>
                <span>this page was created to say GREAT thanks to:</span> <br>
                Abboud Mourad : our big-boss-head-of-Matrix-Master <br>
                Wesam Shujaa : during your bootcamp you will exactly understand why (for your patient, Sam, to repeat 99 times the same 😊)<br>
                Muhammed Rajab : for you time and wish to help us with Challenges. We will certainly remember your algorithms 😊<br>
                Baraah Ranneh : for sharing your knowledge with us. We kindly ask Matrix Master to give you new laptop 😊
            </p>
        </div>
    </div>
</div>

<%- include("./partials/footer")  %> 