<%- include("./partials/header") %> 
<%- include("./partials/nav-about.ejs") %>

<div class="contact-container">
    <div class="container-H">
        <div class="img-H">
            <img src="/img/image1.png" alt="Halyna">
        </div>
        <div class="text-H">
            <ul>
                <li><h2>Halyna Lekhnovska</h2></li>
                <li><h3>35 years old</h3></li>
                <li><h3>Email: lekhnovska.halyna@gmail.com</h3></li>
                <li><h3>Telephone: +31 6 25 52 16 79</h3></li>
            </ul>
            <h3>
                <a href="https://www.linkedin.com/in/halyna-lekhnovska-7249ab236?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B1hb5r7u%2BQYKcxVK09Qwzyg%3D%3D">
                LinkedIn
                </a>
            </h3>
            <h3><a href="https://github.com/Hallekh">GitHub</a></h3>
        </div>
    </div>
    <div class="container-S">
        <div class="text-S">
            <ul>
                <li><h2>Shadi Ali</h2></li>
                <li><h3>34 years old</h3></li>
                <li><h3>Email: warshadi@gmail.com</h3></li>
                <li><h3>Telephone: +31 6 86 38 60 24</h3></li>
            </ul>
            <h3>
                <a href="https://www.linkedin.com/in/shadi-ali-00464311b/">
                LinkedIn
                </a>
            </h3>
            <h3><a href="https://github.com/warshadi">GitHub</a></h3>
        </div>
        <div class="img-S">
            <img src="/img/image3.jpg" alt="shadi">
        </div>
    </div>
</div>

 <%- include("./partials/footer")  %> 