<%- include("./partials/header") %>
<%- include("./partials/nav.ejs") %>

<div class="register-container">
    <h2>Create an Account!</h2>   
    <% if(alerts){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Alert</strong> <%= alerts %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %> 
    <form action="/signupUser" method="POST">
        <div class="first_last">
            <div>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" placeholder="FirstName..." >
            </div>
            <div>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" placeholder="LastName..." >
            </div>
        </div>
        <div class="email">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Your Email..." >
        </div>
        <div class="pass">
            <div>
                <label for="password1">Password</label>
                <input type="password" name="password1" placeholder="Password..." class="password1">
            </div>
            <div>
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" placeholder="Confirm Password..." class="password2">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register Account</button>
        <div class="email">
            <p class="have-account">Already have an account? <a href="/login" >Login</a></p>
        </div>
    </form>
  </div>

<%- include("./partials/footer") %>